{# templates/store/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}GameHub - Store{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/store.css') }}">
{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        {% for game in games %}
                            <div class="col-6">
                                <div class="game-card">
                                    <img src="{{ asset('uploads/games/' ~ game.thumbnail) }}" class="img-fluid" alt="{{ game.title }} Cover">
                                    <div class="game-card-body">
                                        <h5 class="text-black-50">{{ game.title }}</h5>
                                        <p class="text-secondary">{{ game.genre.name }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="rating">
                                                {% for i in 1..5 %}
                                                    {% if i <= game.averageRating|round %}
                                                        <i class="fas fa-star text-warning"></i>
                                                    {% elseif i == game.averageRating|round(0, 'ceil') and game.averageRating|round != game.averageRating %}
                                                        <i class="fas fa-star-half-alt text-warning"></i>
                                                    {% else %}
                                                        <i class="far fa-star text-warning"></i>
                                                    {% endif %}
                                                {% endfor %}
                                                <span class="ms-1">{{ game.averageRating|number_format(1) }}</span>
                                            </div>
                                            <span class="game-price">${{ game.price|number_format(2) }}</span>
                                        </div>
                                        <a href="" class="stretched-link"></a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}